<span class="introduce-me color-settings">
    <div class="flexrow flex-content">
        {{#if this.showTemplates}}<div class="flex0 color-label"></div>{{/if}}
        <div class="flex0 action-button preview-button"></div>
        {{#if this.showTemplates}} <div class="flex0 action-button default-button"></div>{{/if}}
        {{#if this.showTemplates}}<label class="template-label"><strong>{{localize "introduceMe.colorSettings.template"}}</strong></label>{{/if}}
        <label class="flex1 column-margin"><strong>{{localize "introduceMe.colorSettings.backgroundLabel"}}</strong></label>
        <label class="flex1"><strong>{{localize "introduceMe.colorSettings.textLabel"}}</strong></label>
        <label class="flex0 clip-label"><strong>{{localize "introduceMe.colorSettings.clipsLabel"}}</strong></label>
        <label class="flex0 clip-label"><strong>{{localize "introduceMe.colorSettings.audioLabel"}}</strong></label>
    </div>
</span>