<form class="introduce-me audio-settings">
    <content>
        <div class="flexcol audio-row picker-row">
            <div class="flexrow">
                <div class="flex2 flexrow audio-label">
                    <label class="flex0"><strong>{{localize "introduceMe.audioSettings.audio"}}</strong></label>
                    {{#if this.audio.src}}<i class="fas fa-ban flex0 remove-audio" title="{{localize "introduceMe.audioSettings.removeAudio"}}"></i>{{/if}}
                </div>
                <div class="flex3 flexrow">
                    <input id="src" name="audio.sounds.0.src" value="{{this.audio.src}}" title="{{this.audio.src}}" type="text" disabled />
                    {{filePicker type="audio" target="src"}}
                </div>
            </div>
            <div class="flexrow"> 
                <div class="flex2">&nbsp;</div>
                <div class="flex3 flexrow">
                    <button id="play" class="flex0" title="{{localize "introduceMe.audioSettings.playAudio"}}" {{#unless this.audio.src}}disabled{{/unless}}>
                        <i {{#if this.playingSound}}class="fas fa-stop"{{else}}class="fas fa-play"{{/if}}></i>
                    </button>
                    <label class="flex0 sound-time">{{this.currentTime}} / {{this.duration}}</label>
                    <span class="flexrow" title="{{localize "introduceMe.audioSettings.volumeLabel"}}">
                        <input type="range" name="audio.sounds.0.options.volume" value="{{this.audio.options.volume}}" min="0.1" max="1" step="0.1" />
                        <span class="range-value">{{this.audio.options.volume}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="flexrow audio-row offset-row">
            <label class="flex2"><strong>{{localize "introduceMe.audioSettings.offset"}}</strong></label>
            <div class="flex3 flexrow {{#unless this.duration}}disabled{{/unless}}">
                <input type="range" name="audio.sounds.0.options.offset" value="{{this.audio.options.offset}}" min="0" max="{{this.duration}}" step="1" {{#unless this.duration}}disabled{{/unless}} />
                <span class="range-value">{{this.audio.options.offset}}</span>
            </div>
        </div>
        <div class="flexrow audio-row offset-row">
            <label class="flex2"><strong>{{localize "introduceMe.audioSettings.endOffset"}}</strong></label>
            <div class="flex3 flexrow {{#unless this.duration}}disabled{{/unless}}">
                <input type="range" name="audio.sounds.0.endOffset" value="{{this.audio.endOffset}}" min="0" max="{{this.duration}}" step="1" {{#unless this.duration}}disabled{{/unless}} />
                <span class="range-value">{{this.audio.endOffset}}</span>
            </div>
        </div>
        <div class="flexrow audio-row">
            <label class="flex2"><strong>{{localize "introduceMe.audioSettings.fadeIn"}}</strong></label>
            <span class="flex3 fadein-row">
                <input id="fadeIn" type="number" name="audio.sounds.0.fadeIn" value="{{this.audio.fadeIn}}" />
            </span>
        </div>
        <div class="flexrow audio-row">
            <label class="flex2"><strong>{{localize "introduceMe.audioSettings.loop"}}</strong></label>
            <span class="flex3 loop-row">
                <input id="loop" type="checkbox" name="audio.sounds.0.loop" data-dtype="Boolean" {{checked this.audio.loop}} />
            </span>
        </div>
    </content>
    <footer>
        <button id="save"><i class="fas fa-save"></i>Save</button>
    </footer>
</form>